@media only screen and (min-width:400px) {
   .flight_top h2 {
      font-size: 35px;

   }

}

@media only screen and (min-width: 576px) {

   /*?NOTE: typography */
   .text_style {
      font-size: 16.64px;
   }

   .heading_style {
      font-size: 35px;
   }

   /*?SECTION: home */
   .home_contents {
      padding: 30px 10px;
   }

   .home_contents .home_left_shape {
      display: inline-block;
      left: -10%;
      bottom: -50%;
   }

   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -15%;
      right: -10%;

   }


   /*!?SECTION guide section */

   .guide_bottom {
      padding: 50px 0px;
   }

   /*!?SECTION flight section */

   .flight_top h2 {
      font-size: 45px;

   }



   .flight_top_links {
      display: flex;
   }
}

@media only screen and (min-width: 768px) {

   /*?NOTE: typography */
   .heading_style {
      font-size: 50px;

   }



   .home_contents .heading_style {
      text-align: left;

   }

   /*?SECTION: home */
   .home_contents {
      padding: 100px 10px;
      text-align: left;
   }

   .home_contents .home_button .button {
      width: auto;
   }

   .home_contents .home_left_text h2 {
      padding-right: 1rem;
   }

   .home_contents .home_left_shape {
      left: -10%;
      top: 15%;

   }


   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -20%;
      right: -15%;

   }

   /*?SECTION: guide */
   .guide_bottom {
      text-align: left;
   }

   .guide_top .button {
      width: auto;
   }

   .guide_top .heading_style {
      padding: 0 8rem;
   }

   .guide_top .text_style {
      max-width: 500px;
      margin: 0 auto;
      line-height: 1.3;
   }

   .guide_left_shape,
   .guide_right_shape {
      display: inline-block;
      width: 30%;
   }

   .guide_left_shape {
      left: -5%;
   }

   .guide_right_shape {
      right: -5%;
      top: 60%;
   }

   .guide_bottom .guide_card img {
      margin-bottom: 25px;
      width: auto;
   }

   /*!?SECTION flight section */


   .flight_top h2 {
      font-size: 55px;
      padding: 10px 100px;
   }

   .flight_top_links a {
      padding: 10px;
      font-size: 20px;
   }

   .flight_top .flight_top_bottom_shape {
      display: inline-block;
      bottom: -10%;
      left: -5%;
   }

   .flight_top_links a::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 25px;
      background: var(--text);
      top: 20%;
      margin-left: 10px;

   }


   .flight_top_links li:last-child a::after {
      display: none;
   }
}

@media only screen and (min-width:992px) {
   /*?NOTE: ?reuseable */

   .button {
      padding: 1rem 4.5rem;
   }

   /*?NOTE: typography */
   .md_heading_style {
      font-size: 30.36px;
   }

   .heading_style {
      font-size: 55.44px;

   }

   /*?SECTION: home */

   .home_contents .home_left_text h2 {
      padding-right: 9rem;
   }

   .home_contents .home_left_shape {
      left: -10%;
      top: 30%;

   }

   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -20%;
      right: -20%;

   }

   /*!SECTION:guide section+*/
   .guide_top .heading_style {
      padding: 0 15rem;
   }

   .guide_top .button {
      margin-top: 10px;
   }

   .guide_left_shape,
   .guide_right_shape {

      width: 35%;
   }

   .guide_bottom .guide_card h3::before {
      content: "";
      position: absolute;
      background-color: var(--text);
      bottom: 50%;
      left: 1%;
      width: 50px;
      height: 2px;

   }

   /*!?SECTION flight section */


   .flight_top h2 {
      font-size: 75px;

   }

   .flight_top_links a {

      font-size: 25px;
   }
}

@media only screen and (min-width:1200px) {
/*? main nav */
.header .nav_right .button {

   padding: .5rem 3rem;}
   /*?NOTE: ?reuseable */
   .button {
      padding: 1rem 6rem;
   }

   /*?NOTE: typography */
   .home_contents .heading_style {
      font-size: 81.48px;

   }

   .md_heading_style {
      font-size: 36.36px;
   }

   /*?SECTION: home */
   .home_contents {
      padding: 120px 10px;
   }

   .home_contents .home_left_text {
      padding: 1.5rem
   }

   .home_contents .home_left_text h2 {
      padding-right: 3rem;
   }

   .home_contents .home_left_text p {
      padding-right: 3.2rem;
   }

   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -20%;
      right: -10%;
   }

   /*!SECTION:guide section+*/

   .guide_top .heading_style {
      padding: 0 20rem;

   }

   .guide_left_shape,
   .guide_right_shape {
      display: inline-block;
      width: 40%;
   }

   .guide_bottom .guide_card h3::before {
      bottom: 45%;
   }

   .guide_bottom {
      padding: 100px 0px;
   }

   .guide_bottom .guide_bottom_left_shape {
      display: inline-block;
      left: 0%;
   }

   .guide_bottom .guide_bottom_right_shape {
      display: inline-block;
      right: 0%;
      bottom: .5%;

   }

   /*!SECTION:flight section+*/

   .flight_top h2 {
      font-size: 97.7px;
      max-width: 1200px;

   }

   .flight_top_links a {
      padding: 10px;
      font-size: 25px;
   }

   .flight_top .flight_top_right_shape {
      right: -10%;
      top: 10%;
      display: inline-block;
   }
}

@media screen and (min-width:1400px) {


   /*? NOTE:main navbar*/
   .header_contents {
      max-width: 1300px;
   }

   .header .nav_right .button {
      background-color: transparent;
      border: 2px solid var(--button_color);
      color: var(--button_color);

   }

   .header .nav_right .nav_button {
      margin-right: 15px !important;

   }

   /*!SECTION:home section+*/

   .home_contents .home_left_text p {
      padding-right: 8rem;
   }

   .home_contents .home_left_text h2 {
      padding-right: 4rem;
   }



   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -40%;
      right: -10%;

   }

   /*!SECTION:guide section+*/

   .guide_top .heading_style {
      padding: 0 25rem;

   }

   .guide_bottom .guide_card h3::before {
      bottom: 42%;
   }

   .guide_bottom .md_heading_style {
      padding-right: 80px;
   }

   .guide_bottom {
      padding: 150px 0px;
   }
}

@media screen and (min-width:1600px) {

   /*!SECTION:home section+*/
   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -20%;
      right: -15%;

   }

   /*!SECTION:guide section+*/
   .guide_left_shape,
   .guide_right_shape {
      display: inline-block;
      width: 50%;
   }

   .guide_bottom .guide_card h3::before {

      bottom: 43%;
   }
}

@media screen and (min-width:1700px) {

   /*!SECTION:home section+*/
   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -15%;
      right: -20%;

   }

   .home_contents .home_left_shape {
      left: -15%;
      top: 30%;

   }

   .guide_left_shape,
   .guide_right_shape {
      display: inline-block;
      width: auto;
   }

   /*!SECTION:flight section+*/
   .flight_top .flight_top_right_shape {
      right: -15%;
      top: 10%;
      display: inline-block;
   }

}

@media screen and (min-width:1920px) {

   /*?SECTION:home section+*/
   .home_contents .home_right_shape {
      display: inline-block;
      bottom: -15%;
      right: -25%;

   }

   .home_contents .home_left_shape {
      left: -20%;
      top: 30%;

   }

   /*!SECTION:flight section+*/
   .flight_top .flight_top_right_shape {
      right: -25%;
      top: 10%;
      display: inline-block;
   }
}