/*!NOTE:###################global################## */
/* !?##############+++++++++++++++################## */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Lato:wght@100;400;700;900&display=swap');

/* html {
   scroll-padding-top: var(--scroll-padding, 180px);
} */

:root {
   --text: #333333;
   --w_text: #e9e7e7;
   --body_color: #e9e7e7;
   --footerBackground: #cccccc;
   --white: #ffffff;
   --button_color: #333333;
   --guide_top_color: #333333;

}

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;

}

body {
   background-color: var(--body_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {

   font-family: 'Cardo',
      serif;

}

p,
a,
text,
ul li a {
   font-family: 'Lato',
      sans-serif;
}


ul li {
   list-style: none;

}

a {
   text-decoration: none;
   cursor: pointer;
}

body {
   overflow-x: hidden;
}

a:hover {
   cursor: pointer;
}



img {
   max-width: 100%;
   display: inline-block;
}




/*!NOTE:###################reuseable################## */
/* !?##############+++++++++++++++################## */
.button {
   padding: .8rem 3rem;
   text-align: center;
   display: inline-block;
   border-radius: 5px;
   background: var(--button_color);
   font-size: 20.83px;
   color: var(--white);
   font-weight: 900 !important;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   font-family: 'Lato', sans-serif;
}

button {
   border: none;
}

.button {
   font-size: 16px;
}


.card {
   background-color: #fff;
   color: #333;
   border-radius: 10px;
   -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   padding: 20px;
}



.text_style {
   font-size: 16.16px;
   line-height: 1.3;
   color: var(--text);
}

.heading_style {
   text-align: center;
   font-size: 25px;
   font-weight: 700;
   line-height: 1.1;
   color: var(--text);

}

.md_heading_style {
   font-size: 22.36px;
   font-weight: 700;
   line-height: 1.1;
   color: var(--text);
}

/* ! placement items*/

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

.low-z {
   z-index: -10;
}

.high-z {
   z-index: 10;
}

.absolute {
   position: absolute;
}

.sticky {
   position: sticky;
}

.relative {
   position: relative;
}

.fixed {
   position: fixed;
}

/* #home {

   background-color: red;
} */

/*?NOTE: typography  */
/*! nav */
nav ul li a {
   -webkit-transition: .2s ease-in-out;
   -o-transition: .2s ease-in-out;
   transition: .2s ease-in-out;
   color: var(--green);
   font-size: 1rem;
}


/* !NOTE:===============================*/
/**+++++++++ main navbar +++++++++++*/
/* ?NOTE:===============================  */

.header {
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
}

.header .nav_left li a {
   font-size: 20.83px;
   font-weight: 400;


}

.header .nav_left li a.active {
   font-weight: 900;
}

.header .nav_right .button {
   background-color: transparent;
   border: 2px solid var(--button_color);
   color: var(--button_color);
   transition: all .5ms ease;
   -webkit-transition: all .5ms ease;
   -moz-transition: all .5ms ease;
   -ms-transition: all .5ms ease;
   -o-transition: all .5ms ease;
}

/* !NOTE:===============================*/
/**+++++++++ main nav +++++++++++*/
/* ?NOTE:===============================  */
.header {
   position: relative;
   z-index: 100 !important;
}

/*?SECTION:===============================*/
/**+++++++++ home section +++++++++++*/
/* ?SECTION:===============================  */
#home {
   overflow: hidden;
}

.home_contents {
   padding: 50px 10px;

}

.home_contents .home_button .button {
   width: 80%;
}

.home_contents .home_left_shape {
   display: none;

}

.home_contents .home_right_shape {
   display: none;

}

/* !?SECTION:===============================*/
/**+++++++++ guide section +++++++++++*/
/* ?SECTION:===============================  */

.guide_top {
   background: var(--guide_top_color);
   text-align: center;
   padding: 50px 0;
}

.guide_top .heading_style,
.guide_top .text_style {
   color: var(--w_text);
}

.guide_top .button {
   background: transparent;
   border: 2px solid var(--white);
}

.guide_top .button {
   width: 80%;
}

.guide_left_shape,
.guide_right_shape {
   display: none;
}

.guide_bottom{
   text-align: center;
}
.guide_bottom .guide_card img {
   margin-bottom: 25px;
   /* width: 80%; */
}

.guide_bottom_left_shape,
.guide_bottom_right_shape {
   display: none;

}
